// colors.scss
.primary {
    color: #FF6200;
}

.secondary {
    color: #881505;
}

.black {
    color: #191919;
}

.green {
    color: #56941E;
}

.yellow {
    color: #ffcc00;
}

.red {
    color: #ed1419;
}