:root {
  // Max Width
  --max-width: 1124px;
  // Brand Colors
  --primary-color: #ff6200;
  --secondary-color: #881505;
  --tertiary-color: #fd9346;
  --background-color: #fff6f0;
  --black-color: #191919;
  --accent-color: #ffc0974f;
  // Primary Colors
  --green: #56941e;
  --yellow: #ffcc00;
  --red: #ed1419;
  // Social Media Colos
  --facebook: #3b5998;
  --messenger: #0078ff;
  --twitter: #1da1f2;
  // Gradient
  //--gradient: linear-gradient(225deg, #fd9346, #ff6200);
  --gradient: linear-gradient(225deg, #424242, #242424);
  // Border Radius
  --border-radius: 16px;
  // Cards
  --card-padding: 24px;
  --card-border-radius: 24px;
  --card-full-width: calc(100% - 48px);
}
